<!DOCTYPE html>

<html>

<head>
    <title>
    {{>header}}

    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">

  
    <p> Sorry {{error}}</p>
    </div>
    {{>footer}}
</body>
</html>
